@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* espaçamento externo */
    padding: 0;
    /* espaçamento interno */
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

video, .img-tesla {
    width: 100%;
    /* Largura */
    height: 100%;
    /* Altura */
    position: absolute;
    /* Posicionar o item numa posição exta que eu desejar */
    top: 0;
    left: 0;
    z-index: -1;
    /* Define quem fica na frente de quem */
    object-fit: cover;
    /* Faz com o que o vídeo cubra toda a tela */
    filter: brightness(60%);

}

.logo {
    filter: brightness(100);
    position: fixed;
    width: 120px;
}

.item {
    display: flex;
    /* Habilita algumas propriedades CSS */

    justify-content: space-between;
    /* Cria um espaçamento entre os itens */
    flex-direction: column;
    /* Deixar um item debaixo do outro */

    position: relative;
    height: 100vh;
    /* Tela toda - Altura */
    width: 100vw;
    /* Tela toda - Largura */
    scroll-snap-align: start;

}

h1 {
    color: white;
    font-size: 50px;
}

.sub-titulo {
    color: white;
}

.info-carro {
    margin-top: 80px;
    text-align: center;
}

.rodape {
    text-align: center;
    /* Alinha meu item ao centro */
}

button {
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
    padding: 7px 80px;
    border-radius: 5px;
    /* Arredonda a borda do botão */
    border: none;
    /* Tira a borda do botão */
    cursor: pointer;
    /* Coloca a mãosinha no lugar do mouse */
}

.test-drive {
    color: black;
    background-color: white;
}

.texto-rodape {
    color: white;
    font-size: 12px;
    /* Tamanho do texto */
    margin-top: 10px;
}

.third-model {
    color: black;
}

.sub-titulo3 {
    color: black;
}

.formulario{
    position: fixed;
    top: 40px;
    width: 600px;
    height: 100%;
    z-index: 3;
    left: -50%;
    transition: 1.5s;
}